extends ../../templates/page/page-base.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, scorm-complete='#complete-tela')
	.onePage
		section.full-H
				+template-wildcard({
					bg: 'bg01.png',
					class: 'custom-bg-mouse prop-bg-fixed',
          column01:[],
          column02: [
            {
              type: 'class',
              resource: 'prop-pt1 prop-pb1 custom-highlighted custom-highlighted-01 wow-up'
            },
            {
              type: 'image',
              resource: {
                src: 'logo_white.svg',
                class: 'prop-w-porc50 prop-pb1',
                alt: 'Logo da empresa Lorem LMS'
              }
            },
            {
              type: 'title',
              resource: {
                content: 'Inteligência Artificial (IA)',
                class: 'prop-color-06'
              }
            },
            {
              type: 'text',
              resource: {
                content: 'A história da Inteligência Artificial (IA) é uma narrativa fascinante que abrange várias décadas de pesquisa, desenvolvimento e inovação.',
                class: 'prop-color-white'
              }
            },
          ],
				})
		section.prop-pt5.prop-pb5
			+template-wildcard({
				class: '',
				columns: [
					{
						col:[
							{
								type: 'class',
								resource: ''
							},
							{
								type: 'title',
								resource: {
									content: `
										Início da IA (1940-1950)
										`,
									class: 'wow_up prop-color-02'
								}
							},
							{
								type: 'text',
								resource: {
									content: `
									<b>Conceitos Iniciais:</b> Alan Turing, um matemático britânico, é uma figura fundamental. Em 1950, ele propôs o "Teste de Turing" para avaliar a inteligência de uma máquina.
										`,
									class: 'wow_up'
								}
							},
							{
								type: 'text',
								resource: {
									content: `
                  <b>Primeiros Computadores:</b> No final dos anos 1940 e início dos anos 1950, os primeiros computadores eletrônicos, como o ENIAC, foram desenvolvidos. Esses computadores eram capazes de realizar cálculos complexos e abriram caminho para a <span class="highlighter">pesquisa em IA</span>.
										`,
									class: 'wow_up'
								}
							},
							{
								type: 'line',
								class: 'wow_up prop-mt1 custom-line-aspa',
								resource: [
									{
										fraction: 'minor',
										content:[
											{
												type: 'image',
												resource: {
													src: 'avatar1.png',
													class: '',
													alt: 'Foto de Alan Turing jovem.'
												}
											}
										]
									},
									{
										fraction: 'major',
										content:[
											{
												type: 'text',
												resource: {
													content: 'Acredito que em cerca de cinquenta anos será possível programar computadores, com uma capacidade de armazenamento de cerca de 10^9, para fazerem coisas como jogar xadrez tão bem quanto um humano.',
													class: ''
												}
											},
											{
												type: 'text',
												resource: {
													content: 'Alan Turing',
													class: 'prop-txt-bold prop-color-01'
												}
											},
											{
												type: 'text',
												resource: {
													content: 'Matemático',
													class: 'custom-text-01'
												}
											}
										]
									},

								]
							}
						],
					}
				]
		})

		section.prop-pt0.prop-pb5
			+template-wildcard({
				columns:[
					{
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter">Máquina de Turing:</span> Em 1936, Turing introduziu o conceito de uma "máquina de Turing", uma ideia teórica que define o que significa computar uma função. <span class="highlighter">Este conceito é fundamental para a ciência da computação</span>, pois estabelece as bases para entender o que pode ser computado por uma máquina.

									`,
									class: ""
								}
							},
              {
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter">Problema da Decisão:</span> Turing demonstrou que há limites para o que as máquinas podem calcular, provando que alguns problemas são indecidíveis.
									`,
									class: ""
								}
							},
						]
					},
					{
						col:[
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter">Teste de Turing (1950):</span> Em seu artigo "Computing Machinery and Intelligence", Turing propôs um teste para determinar se uma máquina pode exibir comportamento inteligente indistinguível de um humano. <span class="highlighter">O teste envolve uma conversa em linguagem natural</span> entre um humano e uma máquina, onde o humano deve tentar determinar qual dos interlocutores é a máquina.
									`,
									class: ""
								}
							},
              {
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter">Importância:</span> O Teste de Turing continua a ser um marco no campo da IA, pois propõe uma abordagem prática para avaliar a inteligência de uma máquina.
									`,
									class: ""
								}
							},
						],
					}
				]
			})


		section.prop-pt5.prop-pb5.prop-bg-color-07
			+template-wildcard({
				columns:[
          {
            type: 'full',
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'title',
								resource: {
									content: `
										Fundação da IA (1950-1960)
										`,
									class: 'prop-color-02'
								}
							},
						]
					},
					{
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'subtitle',
								resource: {
									content: `
										Dartmouth Conference (1956)
										`,
									class: 'prop-color-01'
								}
							},
							{
								type: 'text',
								resource: {
									content: `
										Este evento é amplamente considerado como o nascimento oficial da IA como um campo de estudo. John McCarthy, Marvin Minsky, Nathaniel Rochester e Claude Shannon cunharam o termo "Inteligência Artificial".
									`,
									class: ""
								}
							},
              {
								type: 'text',
								resource: {
									content: `
										<span class="highlighter">Primeiros Programas de IA:</span> Programas como o "Logic Theorist" de Allen Newell e Herbert A. Simon e o "General Problem Solver" mostraram que os computadores podiam ser programados para resolver problemas em um nível humano.
									`,
									class: ""
								}
							},
						]
					},
					{
						col:[
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'video',
								resource: {
									attr:{
										controls:true
									},
									src: 'pag_07.mp4',
									class: '',
									alt: 'Vídeo de uma mulher branca vestindo roupa preta, realizando uma dança onde balança os braços.'
								}
							},
						],
					}
				]
			})

		section.prop-pb5.prop-bg-color-07
			+template-wildcard({

				columns:[
					{
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'slides',
								resource:{
										class: '',
										slides: [
											{
												columns:[
													{
														col:[

															{
																		type: 'title',
																		resource: {
																				content: 'Propósito da Conferência',
																				class: 'prop-color-05'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'O objetivo da Dartmouth Conference foi explorar a hipótese de que "cada aspecto da aprendizagem ou qualquer outra característica da inteligência pode, em princípio, ser descrito de tal maneira que uma máquina pode ser feita para simulá-lo". A ideia central era reunir os principais pesquisadores para discutir como os computadores poderiam ser programados para exibir comportamento inteligente.',
																		class: ''
																	}
															}
														]
													},
												]
											},
											{
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Impacto e Discussões',
																				class: 'prop-color-02'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'A conferência é frequentemente creditada por cunhar o termo "Inteligência Artificial" e por lançar as bases para a pesquisa futura no campo.',
																		class: ''
																	}
															}
														]
													}
												]
											},
											{
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Conclusão',
																				class: 'prop-color-01'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'A Dartmouth Conference de 1956 foi um marco seminal na história da IA, reunindo muitos dos principais pesquisadores da época e estabelecendo as bases para décadas de inovação e avanço no campo. A visão ambiciosa dos organizadores ajudou a transformar a IA em uma disciplina respeitada e influente, com impactos que continuam a ser sentidos até hoje.',
																		class: ''
																	}
															}
														]
													}
												]
											},
										]
								}
							}
						]
					},
				]
			})

		section.prop-pt5.prop-pb5
			+template-wildcard({

				columns:[

					{
						col:[
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'subtitle',
								resource: {
									content: `
										Primeiros Anos de Otimismo (1960-1970)
										`,
									class: 'prop-color-01'
								}
							},
							{
								type: 'text',
								resource: {
									content: `
										<span class="highlighter">Sistemas Baseados em Regras:</span> Pesquisadores desenvolveram sistemas baseados em regras que poderiam simular processos de pensamento humano. Um exemplo é o "Eliza", um programa de conversação escrito por Joseph Weizenbaum.
									`,
									class: ""
								}
							},
              {
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter">Primeiros Robôs:</span> Shakey, desenvolvido pelo SRI International, foi um dos primeiros robôs móveis capazes de tomar decisões básicas sobre suas ações.
									`,
									class: ""
								}
							},
						],
					},
          {
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'slides',
								resource:{
										class: '',
										slides: [
											{
												columns:[
													{
														col:[

															{
																		type: 'title',
																		resource: {
																				content: 'Eliza',
																				class: 'prop-color-05'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'É um dos primeiros exemplos de um programa de conversação que simula uma conversa humana, desenvolvido por Joseph Weizenbaum no MIT na década de 1960. <span class="highlighter">Eliza foi projetada para imitar um psicoterapeuta rogeriano</span>, utilizando uma abordagem de processamento de linguagem natural bastante simples para interagir com os usuários.',
																		class: ''
																	}
															}
														]
													}
												]
											},
											{
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Shakey',
																				class: 'prop-color-02'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'É considerado um dos primeiros robôs móveis com a capacidade de raciocinar sobre suas ações. Desenvolvido pelo SRI International entre 1966 e 1972, <span class="highlighter">Shakey foi um projeto pioneiro que combinou a robótica com a inteligência artificial</span> para criar um robô que podia navegar em um ambiente estruturado, tomar decisões e executar tarefas de forma autônoma.',
																		class: ''
																	}
															}
														]
													}
												]
											},

										]
								}
							}
						]
					},
				]
			})

		section.prop-bg-color-02.wow_up
			+template-wildcard({
				columns:[
          {
						type: 'wide',
						col:[
							{
								type: 'class',
								resource: ''
							},
							{
								type: 'image',
								resource: {
									src: 'bg02.png',
									class: '',
									alt: ''
								}
							},
						]
					},
					{
						col:[
							{
								type: 'class',
								resource: 'prop-pt3 prop-pb5'
							},
							{
								type: 'subTitle',
								resource: {
									content: `
										Desafios e Inverno da IA (1970-1980)
									`,
									class: "prop-color-06"
								}
							},
							{
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter prop-bg-color-06 prop-color-03">Inverno da IA:</span> Após uma série de fracassos em atingir expectativas infladas, houve uma redução significativa no financiamento e no interesse pela pesquisa em IA. Este período é conhecido como o "Inverno da IA".
									`,
									class: "prop-color-white"
								}
							},
              {
								type: 'text',
								resource: {
									content: `
                    <span class="highlighter prop-bg-color-06 prop-color-03">Sistemas Especialistas:</span> Apesar dos desafios, os sistemas especialistas, como o Dendral e o Mycin, foram desenvolvidos e tiveram sucesso em áreas específicas, como diagnóstico médico e química.
									`,
									class: "prop-color-white"
								}
							},
						],
					},

				]
			})

		section.full-H.wow_up
			+template-wildcard({
				columns: [
					{
						col:[
							{
								type: 'class',
								resource: ''
							},
							{
								type: 'title',
								resource: {
									content: 'Renascimento e Expansão (1980-2000)',
									class: 'prop-color-02'
								}
							},
							{
								type: 'text',
								resource: {
									content: '<span class="highlighter prop-bg-color-06 prop-color-03">Ressurgimento dos Sistemas Especialistas:</span> Nos anos 1980, os sistemas especialistas ganharam popularidade comercial. Empresas começaram a utilizar IA para resolver problemas complexos em campos como finanças e manufatura.',
									class: ''
								}
							},
              {
								type: 'text',
								resource: {
									content: '<span class="highlighter prop-bg-color-06 prop-color-03">Redes Neurais:</span> A redescoberta das redes neurais e o desenvolvimento de algoritmos como o "backpropagation" trouxeram novas esperanças e capacidades para a IA.',
									class: ''
								}
							},
						],
					},
          {
						col:[
							{
								type: 'background',
								resource: {
									src: 'bg7.png',
									class: '',
									alt: 'Imagem de uma cadeia de código binário em tonalidades de verde e preto, com linhas e pontos sobrepostos.'
								}
							},
						],
					}
				]
			})



		section.prop-pt5.prop-pb5
			+template-wildcard({

				columns:[
					{
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'title',
								resource: {
									content: `
										Surgimento da IA na Cultura Popular
										`,
									class: 'prop-color-02'
								}
							},
							{
								type: 'subTitle',
								resource: {
									content: `
										Filmes e livros começaram a explorar conceitos de IA, tornando o tema mais conhecido do público em geral.
										`,
									class: 'prop-color-01'
								}
							},
							{
								type: 'text',
								resource: {
									content: `
										A inteligência artificial (IA) tem sido uma fonte rica de inspiração para inúmeros filmes e livros, explorando temas que vão desde a convivência com robôs até as implicações éticas e filosóficas da criação de máquinas inteligentes. Aqui estão alguns exemplos notáveis que abordam conceitos de IA:
										`,
									class: ''
								}
							},
							{
								type: 'list',
								resource: [
									{
										type: 'card',
										resource: {
											class: 'prop-w-porc30 prop-tablet-w-porc100 prop-tablet-mt2',
											content: [
												{
													type: 'image',
													resource: {
														src: 'card1.png',
														class: '',
														alt: ''
													}
												},
												{
													type: 'text',
													resource: {
														content: '2001: Uma Odisseia no Espaço',
														class: 'prop-txt-bold prop-color-01 prop-txt-center prop-pt2'
													}
												},
												{
													type: 'text',
													resource: {
														content: 'O filme apresenta HAL 9000, um computador com inteligência artificial que gerencia a nave espacial. HAL exibe capacidades avançadas de raciocínio, comunicação e tomada de decisões, mas também levanta questões sobre confiança e controle.',
														class: 'prop-txt-center prop-pb2'
													}
												},
											]
										}
									},
									{
										type: 'card',
										resource: {
											class: 'prop-w-porc30 prop-tablet-w-porc100 prop-tablet-mt2',
											content: [
												{
													type: 'image',
													resource: {
														src: 'card2.png',
														class: '',
														alt: ''
													}
												},
												{
													type: 'text',
													resource: {
														content: 'Blade Runner',
														class: 'prop-txt-bold prop-color-01 prop-txt-center prop-pt2'
													}
												},
												{
													type: 'text',
													resource: {
														content: 'Baseado no livro "Do Androids Dream of Electric Sheep?" de Philip K. Dick, o filme explora a vida de replicantes, seres artificiais com aparência humana, e as questões éticas sobre o que significa ser humano.',
														class: 'prop-txt-center prop-pb2'
													}
												},
											]
										}
									},
									{
										type: 'card',
										resource: {
											class: 'prop-w-porc30 prop-tablet-w-porc100 prop-tablet-mt2',
											content: [
												{
													type: 'image',
													resource: {
														src: 'card3.png',
														class: '',
														alt: ''
													}
												},
												{
													type: 'text',
													resource: {
														content: 'The Terminator',
														class: 'prop-txt-bold prop-color-01 prop-txt-center prop-pt2'
													}
												},
												{
													type: 'text',
													resource: {
														content: ' Apresenta Skynet, uma IA que se torna autoconsciente e decide eliminar a humanidade para se proteger. O filme aborda os perigos da IA militarizada e a possibilidade de uma revolta das máquinas.',
														class: 'prop-txt-center prop-pb2'
													}
												},
											]
										}
									},
								]
							},
						]
					}
				]
			})

		section.prop-pt5.prop-pb5.prop-bg-color-08
			+template-wildcard({
				class: '',
				columns:[
					{
						col: [
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'title',
								resource: {
									content: `
										IA Moderna e Avanços Recentes (2000-Presente)
										`,
									class: 'prop-color-02'
								}
							},
							{
								type: 'slides',
								resource:{
										show:3,
										loop:true,
										class: '',
										slides: [
											{
												row:{
													class: 'prop-bg-color-white'
												},
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Big Data',
																				class: 'prop-color-05 prop-txt-center'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'Com o advento do Big Data e avanços em hardware, o aprendizado de máquina (machine learning) tornou-se uma das áreas mais promissoras da IA. Algoritmos mais eficientes e a disponibilidade de grandes quantidades de dados permitiram grandes avanços.',
																		class: ''
																	}
															}
														]
													}
												]
											},
											{
												row:{
													class: 'prop-bg-color-white'
												},
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Deep Learning',
																				class: 'prop-color-02 prop-txt-center'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'Redes neurais profundas (deep learning) revolucionaram a IA, permitindo avanços significativos em reconhecimento de imagem, processamento de linguagem natural, e muito mais. Empresas como Google, Facebook e Microsoft lideraram pesquisas e aplicações práticas.',
																		class: ''
																	}
															}
														]
													}
												]
											},
											{
												row:{
													class: 'prop-bg-color-white'
												},
												columns:[
													{
														col:[
															{
																		type: 'title',
																		resource: {
																				content: 'Assistentes Virtuais',
																				class: 'prop-color-01 prop-txt-center'
																		}
															},
															{
																	type: 'text',
																	resource: {
																		content: 'Siri, Alexa, Google Assistant e outros assistentes virtuais tornaram-se comuns em muitos lares, exemplificando a integração da IA no dia a dia.',
																		class: ''
																	}
															}
														]
													}
												]
											},
										]
								}
							}
						]
					},
				]
			})

		section.prop-bg-color-01.wow_up
			+template-wildcard({
				columns:[
					{
						type: 'full',
						col:[
							{
								type: 'class',
								resource: 'prop-mih-vh50'
							},
							{
								type: 'title',
								resource: {
										content: 'Ética e Regulação',
										class: 'prop-color-white prop-txt-up'
								}
							},
							{
								type: 'background',
								resource: {
									src: 'bg03.png',
									class: '',
									alt: ''
								}
							},
						]
					},
					{
						col:[
							{
								type: 'class',
								resource: 'prop-pt5 prop-pb5 prop-mih-vh50'
							},
							{
								type: 'text',
								resource: {
									content: `
										A história da IA é marcada por ciclos de grandes esperanças e desafios, mas os avanços contínuos indicam um futuro onde a IA terá um impacto ainda mais profundo em diversas áreas da vida humana.
									`,
									class: "prop-color-06 prop-txt-bold"
								}
							},
							{
								type: 'text',
								resource: {
									content: `
										Com o avanço rápido da IA, surgiram preocupações éticas sobre privacidade, segurança, e o impacto no emprego. Discussões sobre a regulamentação e diretrizes éticas para o desenvolvimento e uso da IA tornaram-se mais frequentes.
									`,
									class: "prop-color-white"
								}
							},
						],
					},
				]
			})

		section.prop-pt5.prop-pb5
			+template-wildcard({
				columns:[
					{
						col:[
							{
								type: 'class',
								resource: 'wow_up'
							},
							{
								type: 'text',
								resource: {
									content: `
                    A <span class="highlighter">ética em inteligência artificial (IA)</span> é um campo crucial que aborda as implicações morais e sociais do desenvolvimento e uso de tecnologias de IA. Com o rápido avanço da IA, surgem questões sobre como essas tecnologias devem ser desenvolvidas, implementadas e reguladas para garantir que beneficiem a sociedade de maneira justa e segura.
									`,
									class: ''
								}
							},
							{
								type: 'text',
								resource: {
									content: `
										Aqui estão alguns dos principais temas e questões relacionadas à ética em IA:
									`,
									class: ''
								}
							},
							{
									type: 'accordeon',
									class: '',
									resource: [
											{
													title: {
															content: 'Bias e Discriminação',
															class: ''
													},
													body: {

															columns:[
																{
																	col:[

																			{
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Problema:</span> Algoritmos de IA podem perpetuar ou amplificar preconceitos existentes se forem treinados em dados enviesados. Isso pode levar a decisões injustas em áreas como contratação, concessão de crédito e justiça criminal.',
																							class: ''
																					}
																			},
                                      {
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Soluções:</span> Desenvolver métodos para detectar e mitigar bias nos algoritmos, além de garantir diversidade nos dados de treinamento.',
																							class: ''
																					}
																			}
																	],
																},
																{
																	col: [
																			{
																					type: 'image',
																					resource: {
																							src: 'imageFake1.png',
																							class: '',
																							alt: 'Imagem de um olho com a sigla "IA" na íris.'
																					}
																			}
																	],
																}
															]
													}
											},
											{
													title: {
															content: 'Privacidade',
															class: ''
													},
													body: {

															columns:[
																{
																	col:[

																			{
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Problema:</span> Sistemas de IA frequentemente coletam e analisam grandes quantidades de dados pessoais, levantando preocupações sobre a privacidade dos indivíduos.',
																							class: ''
																					}
																			},
                                      {
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Soluções:</span> Implementar políticas de privacidade robustas, usar técnicas de anonimização e garantir o consentimento informado dos usuários.',
																							class: ''
																					}
																			}
																	],
																},
																{
																	col: [
																			{
																					type: 'image',
																					resource: {
																							src: 'imageFake11.png',
																							class: '',
																							alt: 'Imagem de uma mulher robótica.'
																					}
																			}
																	],
																}
															]
													}
											},
                      {
													title: {
															content: 'Transparência e Explicabilidade',
															class: ''
													},
													body: {

															columns:[
																{
																	col:[

																			{
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Problema:</span> Muitos algoritmos de IA são "caixas-pretas", dificultando a compreensão de como tomam decisões. Isso pode ser problemático em áreas onde a justificativa para uma decisão é crucial, como na saúde e no sistema judiciário.',
																							class: ''
																					}
																			},
                                      {
																					type: 'text',
																					resource: {
																							content: '<span class="highlighter">Soluções:</span> Desenvolver modelos de IA que sejam mais interpretáveis e fornecer explicações claras sobre como as decisões são tomadas.',
																							class: ''
																					}
																			}
																	],
																},
																{
																	col: [
																			{
																					type: 'image',
																					resource: {
																							src: 'imageFake111.png',
																							class: '',
																							alt: 'Imagem de uma mulher robótica.'
																					}
																			}
																	],
																}
															]
													}
											},
									]
							},

						],
					},
				]
			})


		section.full-H
			+template-wildcard({
				bg: 'bg5.png',
				class: 'prop-bg-fixed',
				columns: [
					{
						col:[],
					},
					{
						col:[
							{
								type: 'class',
								resource: 'prop-pt1 prop-pb1 custom-highlighted custom-highlighted-02 wow-up'
							},
							{
								type: 'title',
								resource: {
									content: 'IA com robótica',
									class: 'prop-color-06'
								}
							},
							{
								type: 'text',
								resource: {
									content: 'A combinação de inteligência artificial (IA) com robótica está transformando muitas indústrias, possibilitando a criação de robôs que podem realizar tarefas complexas de forma autônoma, aprender com suas experiências e interagir com os humanos de maneiras mais naturais e eficientes.',
									class: 'prop-color-white'
								}
							},
							{
								type: 'button',
								resource: {
									alt: 'saiba mais',
									activeModal: '#modal01',
									class: 'pulse btn-padrao',
									content: [
										{
											type: 'text',
											resource: {
												content: 'SAIBA MAIS'
											}
										},
									]
								}
							},
						],
					}
				]
			})

			+modal('modal01', 'modal')
				+template-wildcard({
					column01:[
						{
              type: 'text',
              resource: {
                content: 'A <span class="highlighter">integração de IA com robótica</span> está revolucionando diversas indústrias, melhorando a eficiência, a precisão e a capacidade de realizar tarefas complexas. No entanto, é essencial abordar os desafios técnicos, éticos e sociais para garantir que essas tecnologias sejam desenvolvidas e implementadas de maneira responsável e benéfica para a sociedade.',
                class: ''
              }
            },
					],
				})



		section.prop-pt8.prop-pb8.prop-bg-color-02.wow_up#complete-tela
			+template-wildcard({
				columns:[
					{
						type: 'full',
						col:[
							{
								type: 'class',
								resource: 'custom-col-01'
							},
							{
								type: 'image',
								resource: {
									src: 'logo_white.svg',
									class: 'prop-w-porc30 prop-pb1',
									alt: 'Logo da empresa Lorem LMS'
								}
							},
							{
								type: 'subtext',
								resource: {
									content: 'A inteligência artificial (IA) refere-se ao campo da ciência da computação que desenvolve sistemas capazes de realizar tarefas que normalmente exigiriam inteligência humana. Utilizando algoritmos complexos e grandes conjuntos de dados, a IA permite que máquinas aprendam, raciocinem, percebam e tomem decisões de maneira autônoma.',
									class: 'prop-color-white prop-txt-center'
								}
							},


						]
					},
				]
			})


block scripts
	script(src="script.js")
